<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25546397486-ircco0r6kc3upkjote5c6t5s9ubgvbju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25546397486-ircco0r6kc3upkjote5c6t5s9ubgvbju</string>
	<key>API_KEY</key>
	<string>AIzaSyAgqRm8iyiWeOBAAB2uwLxScBlBhVhoI78</string>
	<key>GCM_SENDER_ID</key>
	<string>25546397486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-e9875</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-e9875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25546397486:ios:64dc8cafd58a52c141ccbf</string>
</dict>
</plist>