<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459534984577-2nc6fml82neeabpu6a4oonn43bmlana5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459534984577-2nc6fml82neeabpu6a4oonn43bmlana5</string>
	<key>API_KEY</key>
	<string>AIzaSyCTwpc8tbl5-DD7lUR3osLxcj1-eXIZy0g</string>
	<key>GCM_SENDER_ID</key>
	<string>459534984577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.william.whatsapps</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-32bef</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-32bef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459534984577:ios:eb6bf3e776b5b8098a3480</string>
</dict>
</plist>